<div class="container">
  <form  [formGroup]="sellForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="gameName">Game Name</label>
        <input type="text" class="form-control" formControlName="name" id="gameName" />
      </div>
      <div class="form-group col-md-6">
        <label for="rating">Rating</label>
        <input type="number" class="form-control" formControlName="rating" id="rating" />
      </div>
      <div class="form-group col-md-6">
        <label for="sellingPrice">Selling Price</label>
        <input type="number" class="form-control" formControlName="price" id="sellingPrice" />
      </div>
      <div class="form-group col-md-6">
        <label for="imageLink">Image Link</label>
        <input type="text" class="form-control" formControlName="imagePath" id="imageLink" #imagePath/>
      </div>
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description" rows="5"></textarea>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px" [disabled]="!sellForm.valid && sellForm.touched">
          Submit
        </button>
      </div>
      <div class="col-md-6">
        <img src="{{imagePath.value}}" style="max-height: 500px;max-width: 500px;" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
      </div>
    </div>
    <div class="form-row"></div>
  </form>
</div>
